/* general css */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@300;500&family=PT+Serif:ital@1&family=Seaweed+Script&display=swap');



*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    text-decoration: none;
    outline: none;
    /* font family */
    --primary-font:'Oswald', sans-serif;
    --secondary-font:'Lobster', cursive;

}

:root{
    /* background color */
    --bg-white:#fff;
   /* text-color */
   --primary-color:#2a2828;
   --bg-dark:rgb(46, 43, 43);
   --secondary-color:#057545;
   --text: #76a713;
   --light-text: #d4d5d1;
   --light-gray:
   --text-white:#fff;
}

body,html{
     color: var(--primary-color);
    font-size: 10px;
     font-weight: 400;
     font-family: var(--primary-font);
     scroll-behavior: smooth;
     line-height: 1.5;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--secondary-color);
}
h2{
    color: var(--primary-color);
    font-size: 4.7rem;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    line-height: 1.6;
    margin-bottom: 1rem;
}
h3{
    color:var(--text) ;
    font-size: 3.2rem;
    line-height: 1.6;
    font-weight: 700;
    margin-bottom: .6rem;
}
h4{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.6;
    color: var(--text);
}
h5{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin-top: 1rem;
    color: var(--primary-color);
}
p{
    color: var(--primary-color);
}
embed,iframe,img,object{
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a,a:active,a:focus,a:hover,button{
    text-decoration: none;
    outline: 0;
}
li a{
    color:var(--secondary-color);
}
a:hover,
button:hover{
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3 ease-in;
    transition: all 0.3s ease-in;
}




 ::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: var(--bg-white);
}
::-webkit-scrollbar-thumb {
    background:#107a4c;
} 
.main-btn{
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right ,#107a4c ,#69d8a8);
    z-index: 1;
    overflow: hidden;
    border:  0.2rem solid var(--bg-white) ;
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top:1.5rem ;
    letter-spacing: 0.2rem ;
}
.main-btn:hover{
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
}
section{
    padding: 5rem 0;
}
.section-tittle{
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.section-subtittle{
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
    font-family: var(--secondary-font);
    max-width:40%;
    margin: auto;
    margin-bottom:1.5rem ;
}
.about .banner_section,
.product .banner_section,
.gallery .banner_section,
.contact .banner_section{
    background-image: url("https://html.themexriver.com/organio/assets/img/bg/banner-bg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
}

/* navbar */
.header{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
 
}
.header .navbar{
    background: url('https://html.themexriver.com/organio/assets/img/bg/bg-mailchimp.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2rem 5rem;
}
.header .navbar-brand{
    width: 7.5rem;
    margin: -0.1rem;
}
.header  .navbar-nav .nav-link{
    color: var(--bg-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family: var(--primary-font);
}
.header .navbar-nav .nav-link:hover , .header .navbar-nav .nav-link.active{
    color: var(--secondary-color);

}
.header  .navbar-toggler {
    color:var(--bg-white);
    font-size: 2rem;
    height:2.7rem ;
    padding: 0;
} 
.header  .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.header .header_right   span{
    color: var(--secondary-color);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.header .header_right .phone_number{
color: var(--bg-white);
}
.header-scrolled{
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width:1320px ;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;
}
.banner_section{
background: url("http://uitheme.net/orgomart/images/banner-slider-2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
min-height: 90vh;
}
.banner_section .carousel-item{
    padding: 3rem 0;
    height: 90vh;

}
.banner_section .carousel-caption{
    top: 30%;
    bottom: 0;
    left: 3%;
    right: 0;
    text-align: left;
    width: 100%;

}

.banner_section .carousel-caption p{
    max-width: 40rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 40rem;
} 


/* fodd section */
.food_section .food_box{
background: transparent;
border: 0.15rem solid var(--light-text);
transition: all 0.3s ;

}
.food_section .food_icon_border{
    margin-top: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid var(--light-text);
    padding: 1.3rem;
    display: inline-block;

}
 .food_section  .food_box .food_icon{
    height: 6.5rem;
    width: 6.5rem;
    background-color: var(--light-text);
    margin: auto;
    border-radius: 50%;
    display:flex ;
    align-items: center;
    justify-content: center;
 }
 .food_section  .food_box .food_icon img{
    width: 3.7rem;

 }
 .food_section .food_box h3{
    margin-top: 1.5rem;
    color: var(--text);
 }
 .food_section .food_box p{
    color: var(--primary-color);
    margin: 1rem 0;
    font-size: 1.5rem;
 }
 .food_section .food_box:hover{
    background-color: var(--bg-dark);
    border-color: var(--bg-dark);
 }
 .food_section .food_box:hover h3{
    color: var(--bg-white);
 }
 .food_section .food_box:hover p{
    color: var(--bg-white);
 }
 .food_section .food_box:hover .food_icon_border{
    border-color: var(--text);
 }
/* about section */
.landing_about_section {
    background: url("https://amigos-themes.com/frutella/assets/images/content/1920x1080/pexels-karolina-grabowska-5386707.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 9rem 0;
}
.landing_about_section p{
    color: var(--primary-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.landing_product_section .product_card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
   
    border: 0.2rem solid var(--light-text);
    padding: 2rem;
    transition: all 0.3s;

}
.landing_product_section .product_card .product_img{
margin-bottom: 7rem;
text-align: center;

}
.landing_product_section .product_card span{
   color: var(--primary-color);
   font-size: 1.8rem;
   font-weight: 600;
   text-transform: uppercase;
   margin-right: 0.5rem;
   text-decoration: line-through;
   transition: all 0.3s;
}
.landing_product_section .product_card .product_details{
    position: absolute;
    bottom: -22rem;
    right: 0;
    left: 0;
    text-align: center;
    padding: 5rem 1rem;
    background-color: var(--bg-dark);
    transition: all 0.5s ease;
}
.landing_product_section .product_card:hover .product_details{
bottom: 0;
}